@charset "UTF-8";
:root {
  /*main-color*/
  --main-color: #ffffff;
  --main-black: #000000;
  --dark-blue: #32425c;
  --main-green: #63a63e;
  --red-color: #ee3643;
  /*main-offers*/
  --offers-materials: #ffbf47;
  --offers-tools: #3bbce3;
  --offers-technic: #dc91d8;
  --offers-discount: #8ed78f;
  --offers-delivery: #ffbf47;
  /*fon*/
  --main-fon: #ffffff;
  --sevise-fon: #f1f5f7;
  --footer-fon: #32425c;
  --title: #f9f5f0;
  --fon-header: #f1f5f7;
  --header-button: #ee3643;
  --form-catalog: #f7f3ec;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.eot");
  src: local("☺"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.eot");
  src: local("☺"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype"), url("../fonts/PTSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Regular.eot");
  src: local("☺"), url("../fonts/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum-Regular.ttf") format("truetype"), url("../fonts/Cuprum-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Bold.eot");
  src: local("☺"), url("../fonts/Cuprum-Bold.woff") format("woff"), url("../fonts/Cuprum-Bold.ttf") format("truetype"), url("../fonts/Cuprum-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
  box-sizing: content-box;
}

.img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

body {
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 133%;
  background-color: #ffffff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 14px 25px 28px;
  background: var(--title);
}
.main-header__title {
  color: var(--dark-blue);
  font-size: 30px;
  line-height: 100%;
  word-break: break-all;
}
.main-header__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.28;
  color: var(--main-color);
  background-color: var(--header-button);
  padding: 11px 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  min-width: 192px;
  min-height: 38px;
}
.main-header__link:hover {
  background: #ca2c37;
  transition: background 0.3s ease 0s;
}
.main-header__link:active {
  background: #ba2732;
  transition: background 0.3s ease 0s;
}
.main-header__link:not(:first-child) {
  margin-left: 20px;
}

/*-------header----------------------------*/
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
.header__header-top {
  background: var(--dark-blue);
}
.header__header-bottom {
  background: var(--fon-header);
}

.search-image {
  opacity: 0.3;
}

.header-top__content {
  display: grid;
  grid-template-columns: 220px 250px 1fr 150px;
  grid-template-rows: min-content(42px, auto);
}
.header-top__logo {
  position: relative;
  height: 100%;
}
.header-top__logo a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--fon-header);
  min-width: 220px;
  min-height: 47px;
  background: var(--header-button);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  bottom: -5px;
  width: 100%;
  text-align: center;
  word-break: break-all;
}
.header-top__logo a:hover {
  background: #ba2732;
  transition: all 0.3s ease 0s;
}
.header-top__search {
  display: inline-flex;
  padding: 10px 0px 10px 0px;
  align-self: center;
}
.header-top__search:not(:first-child) {
  padding: 10px 0px 10px 17px;
}
.header-top__search .search-image {
  fill: white;
}
.header-top__search input {
  position: relative;
  background-color: transparent;
  padding: 0px 0px 0px 8px;
  color: white;
  outline: none;
  background-color: transparent;
}
.header-top__search input::-moz-placeholder {
  color: inherit;
}
.header-top__search input:-ms-input-placeholder {
  color: inherit;
}
.header-top__search input::placeholder {
  color: inherit;
}
.header-top__search:hover .search-image {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.header-top__search:active .search-image {
  opacity: 0.3;
  transition: opacity 0.3s ease 0s;
}
.header-top__search:active input {
  opacity: 0.3;
  transition: opacity 0.3s ease 0s;
}
.header-top__search:focus-within {
  background: white;
  opacity: 1;
  transition: background 0.3s ease 0s;
}
.header-top__search:focus-within .search-image {
  fill: #ee3643;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.header-top__search:focus-within input {
  color: #000000;
}
.header-top__button {
  display: inline-block;
  padding: 9px 5px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  word-break: break-all;
  color: var(--main-color);
  background: var(--main-green);
}
.header-top__button:hover {
  background: #5fbb2d;
  transition: background 0.3s ease 0s;
}
.header-top__button:active {
  background: #63a63e;
  opacity: 0.5;
  transition: background 0.3s ease 0s;
}
.header-top__button:focus {
  background: #63a63e;
  transition: background 0.3s ease 0s;
}
.header-top__list {
  display: flex;
  padding: 0px 0px 0px 20px;
  flex-wrap: wrap;
}
.header-top__item {
  align-self: center;
}
.header-top__item:not(:last-child) {
  padding: 0px 40px 0px 0px;
}
.header-top__link {
  display: flex;
  padding: 0px;
  color: var(--main-color);
  transition: all 0.3s ease 0s;
  align-self: center;
  max-width: 120px;
  word-break: break-all;
  position: relative;
  padding-left: 23px;
}
.header-top__link:hover::before {
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.header-top__link:active {
  background: #161d29;
  opacity: 0.3;
}
.header-top__link:active::before {
  opacity: 0.3;
}
.header-top__link--cart::before {
  content: "";
  position: absolute;
  background: url(../img/header/icon-cart.svg) no-repeat;
  height: 15px;
  width: 15px;
  left: 0%;
  opacity: 0.3;
  align-self: center;
}
.header-top__link--bookmarks::before {
  content: "";
  position: absolute;
  background: url(../img/header/icon-bookmarks.svg) no-repeat;
  height: 16px;
  width: 14px;
  left: 0%;
  opacity: 0.3;
  align-self: center;
}

.header-bottom {
  padding: 0px 0px 60px 0px;
}
.header-bottom__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 38px 0px 45px 0px;
}
.header-bottom__contact {
  display: flex;
  flex-direction: column;
  background: #f3f7f9;
}
.header-bottom__contact-discription {
  color: var(--header-color);
  color: #32425c;
  font-size: 14px;
  line-height: 1.65;
}
.header-bottom__text {
  color: var(--red-color);
  font-size: 16px;
  line-height: 1.43;
  padding-left: 30px;
  word-break: break-all;
}
.header-bottom__text:not(:last-child) {
  margin: 0px 90px 0px 0px;
}
.header-bottom__info:not(:last-child) {
  margin: 0px 60px 0px 0px;
}
.header-bottom__phone {
  display: flex;
  border: 3px solid #ffffff;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  padding: 5px 5px;
  min-height: 45px;
}
.header-bottom__phone span {
  position: relative;
  color: var(--red-color);
  font-family: "Cuprum";
  font-weight: 700;
  font-size: 21px;
  padding-left: 35px;
  line-height: 143%;
}
.header-bottom__phone span::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 6px;
  background: url(/img/header/icon-phone.svg);
  width: 19px;
  height: 19px;
}
.header-bottom__registration {
  display: flex;
  justify-content: right;
  align-self: flex-start;
  max-width: 310px;
}
.header-bottom__registration-item {
  display: flex;
  background-color: var(--main-fon);
  padding: 8px 8px;
  min-width: 145px;
  min-height: 45px;
  flex-grow: 1;
  word-break: break-all;
  justify-content: center;
}
.header-bottom__registration-item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.header-bottom__registration-item a {
  position: relative;
  font-size: 21px;
  line-height: 1;
  align-self: center;
}
.header-bottom__registration-item:nth-of-type(1) a {
  padding-left: 26px;
}
.header-bottom__registration-item--login a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  opacity: 0.33;
  background-image: url(../img/header/icon-login.svg);
  left: 0;
  top: 2px;
}
.header-bottom__registration-item:hover a {
  color: var(--header-button);
  transition: color 0.3s ease 0s;
}
.header-bottom__registration-item:hover a::before {
  content: "";
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.header-bottom__registration-item:active a {
  color: black;
  opacity: 0.33;
  transition: all 0.3s ease 0s;
}
.header-bottom__registration-item:active a::before {
  content: "";
  opacity: 0.33;
  transition: all 0.3s ease 0s;
}
.header-bottom__authoriz {
  width: 300px;
}
.header-bottom__authoriz-content {
  display: flex;
  width: 300px;
  align-items: center;
  background: var(--main-color);
  padding: 14px 16px;
}
.header-bottom__authoriz-content:not(:last-child) {
  margin-bottom: 7px;
}
.header-bottom__authoriz-content input {
  opacity: 0.3;
}
.header-bottom__authoriz-content input:hover {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.header-bottom__authoriz-content input:active {
  opacity: 0.3;
  transition: opacity 0.3s ease 0s;
}
.header-bottom__authoriz-name {
  font-size: 21px;
  line-height: 1;
  width: 186px;
  word-break: break-all;
}
.header-bottom__authoriz-name:not(:last-child):not(:first-child) {
  margin: 0px 20px;
}
.header-bottom__authoriz-link {
  display: flex;
  opacity: 0.3;
  align-self: center;
}
.header-bottom__authoriz-link:hover {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.header-bottom__authoriz-link:active {
  opacity: 0.3;
  transition: opacity 0.3s ease 0s;
}
.header-bottom__authoriz-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-bottom__authoriz-item {
  position: relative;
  font-size: 16px;
  line-height: 1.125;
  color: var(--dark-blue);
  word-break: break-all;
}
.header-bottom__authoriz-item:hover {
  color: var(--header-button);
  transition: all 0.3s ease 0s;
}
.header-bottom__authoriz-item:active {
  color: #c5c5c5;
  transition: all 0.3s ease 0s;
}
.header-bottom__authoriz-item:not(:last-child) {
  padding-right: 31px;
}
.header-bottom__authoriz-item:not(:last-child)::after {
  content: "";
  position: absolute;
  vertical-align: middle;
  border-radius: 50%;
  background: var(--dark-blue);
  width: 5px;
  height: 5px;
  top: 40%;
  right: 10px;
}
.header-bottom__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-blue);
  padding: 0px 20px;
  text-align: center;
  box-shadow: inset 0px -5px 0px #293449;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.header-bottom__item {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.33;
  transition: all 0.3s ease 0s;
  min-height: 56px;
}
.header-bottom__item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 24px;
}
.header-bottom__item:hover {
  background-color: #293449;
}
.header-bottom__item:active {
  background-color: #1d2739;
  height: 100%;
  opacity: 0.33;
}
.header-bottom__item--acctive {
  opacity: 0.3;
}
.header-bottom__item--acctive:hover {
  background: var(--dark-blue);
}

/*-----------------------------------------*/
/*-------offers----------------------------*/
.offers {
  padding: 59px 0px 20px 0px;
}
.offers__title {
  display: none;
}
.offers__slider {
  grid-column: 1/3;
  grid-row: 2/-1;
  background-color: #8ed78f;
}
.offers__item-slider {
  display: grid;
  grid-template-rows: 1fr 1fr -webkit-min-content;
  grid-template-rows: 1fr 1fr min-content;
  background-color: #8ed78f;
  background-size: cover;
  height: 100%;
}
.offers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}
.offers__item {
  padding: 20px 22px 20px 22px;
}
.offers__item-materials {
  background: url(../img/offers/new.svg) no-repeat 100% 0%, url(../img/offers/materials.svg) no-repeat 80% 50%;
  background-color: #ffbf47;
  grid-column: 1/2;
  grid-row: 1/2;
}
.offers__item-title {
  font-size: 24px;
  line-height: 1.25;
  word-break: break-all;
  color: var(--main-color);
}
.offers__item-title--big {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}
.offers__item-title:not(:last-child) {
  margin-bottom: 5px;
}
.offers__item-discription {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--main-color);
}
.offers__item-button {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.3;
  padding: 5px;
  width: 135px;
  min-height: 38px;
  justify-content: center;
  align-items: center;
  min-width: 138px;
  color: var(--main-color);
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.3);
}
.offers__item-button:hover {
  transition: all 0.3s ease 0s;
  background: rgba(197, 197, 197, 0.3);
}
.offers__item-button:active {
  transition: all 0.3s ease 0s;
  background: rgba(169, 169, 169, 0.3);
}
.offers__item-content {
  display: block;
}
.offers__item-content.offers__item-content--hidden {
  display: none;
}
.offers__button {
  display: flex;
  padding: 10px 10px;
  box-sizing: border-box;
  max-width: 194px;
  min-height: 38px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  background: var(--header-button);
  color: var(--main-color);
}
.offers__button:hover {
  transition: all 0.3s ease 0s;
  background: rgb(202, 44, 55);
}
.offers__button:active {
  transition: all 0.3s ease 0s;
  background: rgb(186, 39, 50);
}
.offers__button-punchers {
  justify-self: flex-end;
  min-width: 192px;
  min-height: 38px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}
.offers__button-punchers:not(:last-child) {
  margin-right: 79px;
}
.offers__item-tools {
  background: url(../img/offers/tools.svg) no-repeat 80% 50%;
  background-color: #3bbce3;
  grid-column: 2/3;
  grid-row: 1/2;
}
.offers__item-technic {
  background: url(../img/offers/technic.svg) no-repeat 80% 50%;
  background-color: #dc91d8;
  grid-column: 3/4;
  grid-row: 1/2;
}
.offers__item-punchers {
  background: url(../img/offers/punchers.jpg) no-repeat 80% 50%;
  background-size: cover;
}
.offers__item-drills {
  background: url(../img/offers/drills.jpg) no-repeat 80% 50%;
  background-size: cover;
}
.offers__list-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 45%;
  grid-row: 2/3;
}
.offers__item-bottom {
  display: flex;
  grid-row: 3/-1;
}
.offers__breadcrumbs {
  display: flex;
  align-items: center;
}
.offers__breadcrumbs-item:not(:last-child) {
  margin-right: 12px;
}
.offers__breadcrumbs-item button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.offers__breadcrumbs-item--active button {
  cursor: default;
  display: flex;
  align-self: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
}
.offers__breadcrumbs-item--active button::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 2px;
  right: 2px;
  background: var(--header-button);
}
.offers__link-up {
  background: transparent;
}
.offers__link-disabled {
  cursor: no-drop;
  opacity: 0.2;
}
.offers__link-back {
  background: transparent;
}
.offers__item-discounts {
  background: url(../img/offers/discount.svg) no-repeat 80% 50%;
  background-color: #8ed78f;
  grid-column: 3/-1;
  grid-row: 2/3;
}
.offers__item-delivery {
  background: url(../img/offers/delivery.svg) no-repeat 80% 50%;
  background-color: #ffbf47;
  grid-column: 3/-1;
  grid-row: 3/-1;
}
/*---------------------------------------*/
/*----product-main-----------------------*/
.product-main {
  padding-bottom: 70px;
  padding-top: 40px;
}
.product-main__header:not(:last-child) {
  margin-bottom: 20px;
}
.product-main__list {
  display: flex;
  gap: 20px;
}
/*---------------------------------------*/
/*----manufacturers----------------------*/
.manufacturers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0px 59px 0px;
}
.manufacturers__list-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  background: #ffffff;
  border: 1px solid #eaeaea;
}
.manufacturers__list-link:hover {
  transition: filter 0.3s ease 0s;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.manufacturers__list-link:active {
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}
.manufacturers__list-link img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*---------------------------------------*/
/*----product-list-----------------------*/
.product-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-list--column {
  display: flex;
}

.product {
  display: flex;
  width: 220px;
  min-height: 318px;
  padding: 0px 10px 21px 10px;
  border: 1px solid #eaeaea;
  flex-wrap: wrap;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  z-index: 1;
}
.product:hover {
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.product--new {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 5;
}
.product__img {
  width: 124px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__text {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  flex-grow: 1;
}
.product__text p:not(:last-child) {
  margin-bottom: 7px;
}
.product__text s {
  color: #a9a9a9;
  text-transform: uppercase;
}
.product__text:not(:last-child) {
  margin-bottom: 13px;
}
.product__button {
  display: flex;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.06;
  text-transform: uppercase;
  justify-content: center;
}
.product__button-link {
  display: flex;
  position: relative;
  background-color: var(--header-button);
  color: var(--main-color);
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  max-width: 181px;
  min-height: 38px;
  box-sizing: border-box;
  padding: 10px 5px 10px 10px;
  text-align: center;
}
.product__button-link::after {
  content: "";
  position: absolute;
  border: 19px solid transparent;
  right: -39px;
  border-left: 20px solid var(--header-button);
}
.product__list {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 38px 0px 9px 0px;
}
.product__info {
  text-align: center;
  z-index: 1;
}
.product__info:not(:last-child) {
  margin-bottom: 38px;
}
.product__info img {
  width: 124px;
  height: 126px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__info:hover img {
  transition: all 0.3s ease 0s;
  display: none;
}
.product__info:hover .product__list {
  transition: all 0.3s ease 0s;
  display: flex;
}
.product__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  margin: 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  z-index: -2;
}
.product__link-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  min-height: 38px;
  word-break: break-all;
  background: #63a63e;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-color);
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
  padding: 5px 5px 5px 0px;
}
.product__link-pay span {
  position: relative;
  padding-left: 24px;
  margin-left: 4px;
}
.product__link-pay span::before {
  content: "";
  position: absolute;
  background: url(../img/product/icon-cart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  left: 0px;
}
.product__link-pay:hover {
  transition: all 0.3s ease 0s;
  background: #5fbb2d;
}
.product__link-pay:active {
  transition: all 0.3s ease 0s;
  background: #518534;
}
.product__link-bookmarks {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  min-height: 38px;
  border: 3px solid #63a63e;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.29;
  color: #32425c;
  text-transform: uppercase;
  padding: 5px;
}
.product__link-bookmarks:hover {
  transition: all 0.3s ease 0s;
  border: 3px solid #32425c;
  border-radius: 2px;
}
.product__link-bookmarks:active {
  transition: all 0.3s ease 0s;
  border: 3px solid #32425c;
  border-radius: 2px;
  opacity: 0.5;
}
.product__animation-bookmarks {
  -webkit-animation-name: openBookmarks;
          animation-name: openBookmarks;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes openBookmarks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openBookmarks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*---------------------------------------*/
/*---------------------------------------*/
.service {
  background: #f1f5f7;
  padding: 75px 0px 85px 0px;
}
.service__content {
  display: grid;
  grid-template-columns: 240px 1fr 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
.service__header {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.service__header:not(:last-child) {
  margin: 0px 0px 70px 0px;
}
.service__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}
.service__title:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.service__discription {
  font-size: 13px;
  line-height: 1.85;
}
.service__body {
  grid-column: 1/2;
  grid-row: 3/4;
}
.service__amenities {
  display: flex;
  flex-direction: column;
  position: relative;
}
.service__amenities::after {
  content: "";
  position: absolute;
  background: url(../img/service/line-service.png) no-repeat;
  right: 0;
  height: 279px;
  width: 10px;
  top: -25%;
}
.service__item {
  background: #32425c;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.43;
  width: 240px;
  min-height: 61px;
  box-sizing: border-box;
  color: var(--main-color);
  width: 240px;
  min-height: 61px;
}
.service__item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.service__item:not(.service__item--active):hover {
  transition: all 0.3s ease 0s;
  background: #293449;
}
.service__item--active {
  background: #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.43;
  color: #32425c;
}
.service__delivery:not(:first-child) {
  margin-left: 80px;
}
.service__delivery-title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}
.service__delivery-discription {
  font-size: 13px;
  line-height: 1.85;
}
.service__delivery-image {
  justify-self: end;
  text-align: right;
  width: 270px;
  height: 150px;
}

/*---------------------------------------*/
/*---contacts----------------------------*/
.contacts {
  padding: 76px 0px 70px 0px;
}
.contacts__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contacts__company {
  grid-column: 1/3;
}
.contacts__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.contacts__discription {
  font-size: 13px;
  line-height: 1.85;
}
.contacts__discription:not(:last-child) {
  margin-bottom: 38px;
}
.contacts__discription:nth-child(3) {
  margin-bottom: 0px;
}
.contacts__discription--map:not(:last-child) {
  margin-bottom: 32px;
}
.contacts__image:not(:last-child) {
  margin-bottom: 25px;
}
.contacts__image:hover {
  cursor: pointer;
}
.contacts__list:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.33;
}
.contacts__item:not(:last-child) {
  margin-bottom: 12px;
}
.contacts__item::before {
  content: "";
  display: inline-flex;
  width: 25px;
  height: 2px;
  background: var(--header-button);
  margin: 0px 12px 0px 0px;
}
.contacts__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 5px;
  box-sizing: border-box;
  line-height: 1.29;
  color: #ffffff;
  background: var(--header-button);
  min-width: 220px;
  min-height: 38px;
}
.contacts__link:hover {
  background: #ca2c37;
  transition: background 0.3s ease 0s;
}
.contacts__link:active {
  background: #ba2732;
  transition: background 0.3s ease 0s;
}
.contacts__link--cart {
  width: 100%;
}

/*---------------------------------------*/
/*---footer------------------------------*/
.footer__top {
  background: #32425c;
  padding-bottom: 54px;
}
.footer__content-top {
  display: grid;
  grid-template-columns: 333px 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 56px;
       column-gap: 56px;
}
.footer__content-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer__logo {
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer__discription {
  grid-row: 2/3;
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}
.footer__discription:not(:first-child) {
  margin-top: 22px;
}
.footer__navigation {
  margin: 0px;
  padding-bottom: 14px;
  align-self: flex-end;
  grid-column: 1/-1;
}
.footer__navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
}
.footer__navigation-item {
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}
.footer__navigation-item:hover {
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
  text-decoration: underline;
}
.footer__navigation-item:active {
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}
.footer__navigation-item:not(:last-child) {
  margin-right: 58px;
}
.footer__service {
  padding: 0px 0px 0px 22px;
  align-self: center;
  justify-self: end;
  grid-column: 1/-1;
}
.footer__service-list {
  display: flex;
  flex-wrap: wrap;
}
.footer__service-item {
  font-size: 18px;
  line-height: 1.33;
  color: #ffd180;
}
.footer__service-item:not(:last-child) {
  margin-right: 58px;
  margin-bottom: 10px;
}
.footer__service-item:hover {
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
  text-decoration: underline;
}
.footer__service-item:active {
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}
.footer__bottom {
  background: #293449;
  padding: 36px 0px;
}
.footer__content-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__copyrigth {
  font-size: 16px;
  line-height: 1.12;
  color: #f3f7f9;
  word-break: break-all;
}
.footer__social-list {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  gap: 5px;
}
.footer__social-item:first-child a {
  width: 26px;
  height: 15px;
}
.footer__social-link {
  display: inline-flex;
  background: #212a3a;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__social-link:hover {
  transition: all 0.3s ease 0s;
  background: var(--header-button);
}
.footer__social-link:active {
  transition: all 0.3s ease 0s;
  color: var(--header-button);
}
.footer__communication {
  justify-self: end;
  display: flex;
  padding: 0px 5px;
}
.footer__communication-text {
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-color);
}
.footer__communication-text:not(:last-child) {
  margin-right: 51px;
}
.footer__communication-text a {
  color: rgb(255, 209, 128);
}
.footer__communication-text a:hover {
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}
.footer__communication-text a:active {
  transition: all 0.3s ease 0s;
  color: #ee3643;
}

/*---------------------------------------*/
/*------modal---------------------------*/
.modal {
  display: none;
  border-top: 7px #cf4b54 solid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}
.modal__animation-open {
  -webkit-animation-name: openPopup;
          animation-name: openPopup;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.modal__chow {
  display: inline-block;
}
.modal__login {
  width: 620px;
  top: 120px;
  bottom: auto;
}
.modal__map {
  position: fixed;
  width: 943px;
  height: 449px;
}
.modal__buy {
  width: 620px;
  top: 50%;
  bottom: 100%;
}
.modal__buy button {
  top: 10px;
}
.modal__buy-content {
  display: flex;
  background-color: var(--main-fon);
  padding: 67px 10px;
  justify-content: center;
  align-items: center;
}
.modal__buy-content p {
  position: relative;
  display: inline-flex;
  text-align: center;
  padding: 5px 95px;
  font-family: "Cuprum";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}
.modal__buy-content p::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  align-self: center;
  left: 0%;
  background-image: url(../img/modal/icon-buy.svg);
}
.modal__buy-buttons {
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  padding: 37px 10px;
  flex-wrap: wrap;
}
.modal__buy-buttons button {
  display: flex;
  padding: 10px;
  width: 192px;
  word-break: break-all;
  background-color: var(--main-fon);
  justify-content: center;
  align-items: center;
}
.modal__buy-buttons button:not(:last-child) {
  margin-right: 10px;
}
.modal__buy-buttons .modal__buy-button--active {
  background-color: var(--header-button);
  color: var(--main-color);
}
.modal__form {
  background-color: var(--main-fon);
}
.modal__content {
  max-width: 460px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: -webkit-min-content, -webkit-min-content;
  grid-template-rows: min-content, min-content;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 13px;
  grid-template-areas: "name email" "text text";
  padding: 39px 0px 37px 0px;
}
.modal__column-name {
  display: flex;
  flex-direction: column;
  grid-area: name;
}
.modal__title {
  margin: 0px 0px 11px 0px;
}
.modal__field {
  font-size: 13px;
  line-height: 1.85;
  color: #a9a9a9;
  background: #ffffff;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
}
.modal__field::-moz-placeholder {
  color: inherit;
}
.modal__field:-ms-input-placeholder {
  color: inherit;
}
.modal__field::placeholder {
  color: inherit;
}
.modal__column-email {
  display: flex;
  flex-direction: column;
  grid-area: email;
}
.modal__column-text {
  display: flex;
  flex-direction: column;
  grid-area: text;
}
.modal__big-text {
  background: #ffffff;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
  color: #a9a9a9;
  grid-area: text;
}
.modal__big-text::-moz-placeholder {
  color: inherit;
}
.modal__big-text:-ms-input-placeholder {
  color: inherit;
}
.modal__big-text::placeholder {
  color: inherit;
}
.modal__bottom {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  background: #f4f4f4;
  padding: 37px 0px;
}
.modal__bottom-contetn {
  max-width: 460px;
  margin: 0 auto;
}
.modal__send {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-color);
  background: #ee3643;
  width: 100%;
  min-height: 38px;
  box-sizing: border-box;
  padding: 5px;
}
.modal__send:hover {
  background: #ca2c37;
  transition: background 0.3s ease 0s;
}
.modal__send:active {
  background: #ba2732;
  transition: background 0.3s ease 0s;
}
.modal__close {
  position: absolute;
  top: 21px;
  right: 1%;
  background: transparent;
}
.modal__close::before {
  content: "";
  display: inline-block;
  background-image: url(../img/modal/modal-close.svg);
  width: 21px;
  height: 21px;
}

@-webkit-keyframes openPopup {
  0% {
    transform: translateY(-1000px);
  }
  40% {
    transform: translateY(100px);
  }
  70% {
    transform: translateY(-110px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes openPopup {
  0% {
    transform: translateY(-1000px);
  }
  40% {
    transform: translateY(100px);
  }
  70% {
    transform: translateY(-110px);
  }
  100% {
    transform: translateY(10px);
  }
}
/*---------------------------------------*/
/*------page-catalog--------------------------*/
/*---------navigation--------------------*/
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: center;
}
.navigation__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  background: url(../img/icon/Shape-nav.png);
  width: 8px;
  height: 12px;
  margin: 0px 18px 0px 15px;
}
.navigation__link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #000000;
}

/*---------------------------------------*/
/*------catalog-content------------------*/
.catalog-content {
  padding-bottom: 59px;
}
.catalog-content__wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
.catalog-content__column-left {
  grid-row: 2/3;
}
.catalog-content__column-right {
  grid-row: 2/3;
}
.catalog-content__head {
  padding: 29px;
  grid-column: 1/-1;
  grid-row: 1/2;
  background: #f1f5f7;
}
.catalog-content__head:not(:last-child) {
  margin-bottom: 20px;
}
.catalog-content__head h2 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}
.catalog-content__list:not(:last-child) {
  margin-bottom: 48px;
}
.column-left {
  grid-column: 1/2;
}
.column-left__form-submit {
  background: var(--main-color);
  border: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.form-catalog__title {
  display: flex;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  word-break: break-all;
  line-height: 1.38;
  color: #000000;
  min-height: 38px;
  background: var(--form-catalog);
  padding: 10px 18px 10px 18px;
}
.form-catalog__title:not(:last-child) {
  margin-bottom: 15px;
}
.form-catalog__subtitle {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  color: #000000;
}
.form-catalog__filter-item {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 25px 0px;
  border-bottom: 1px solid rgb(236, 230, 230);
}
.form-catalog__price-title {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 1.76;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
}
.form-catalog__price-title:not(:last-child) {
  margin-bottom: 10px;
}
.form-catalog__range-filter {
  width: 100%;
}
.form-catalog__range-controls {
  position: relative;
  border-radius: 5px;
  height: 80px;
  background: #f7f3ec;
  padding: 39px 20px 0px 20px;
}
.form-catalog__range-controls:not(:last-child) {
  margin-bottom: 9px;
}
.form-catalog__scale {
  height: 2px;
  background: #c5c5c5;
}
.form-catalog__bar {
  height: 2px;
  width: 80%;
  background: #63a63e;
}
.form-catalog__toggle {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--main-color);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0px #cfcfcf;
  cursor: pointer;
}
.form-catalog__toggle--min {
  left: 18px;
}
.form-catalog__toggle--max {
  left: 160px;
}
.form-catalog__price-controls {
  display: flex;
  justify-content: space-between;
}
.form-catalog__price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 95px;
  min-height: 35px;
  text-align: end;
  text-align: center;
  background: #f7f3ec;
  border-radius: 5px;
}
.form-catalog__min-price {
  position: relative;
}
.form-catalog__min-price::after {
  content: "";
  position: absolute;
  left: 105px;
  top: 50%;
  height: 1px;
  width: 10px;
  background: #444444;
}
.form-catalog__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  flex-wrap: wrap;
  word-break: break-all;
  font-size: 13px;
  line-height: 1.38;
  padding: 5px;
  min-height: 38px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.form-catalog__manufacturer {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 26px 0px;
  border-bottom: 1px solid rgb(236, 230, 230);
}
.form-catalog__manufacturer-item:not(:last-child) {
  margin-bottom: 16px;
}
.form-catalog__manufacturer-input + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0px;
  width: 23px;
  height: 23px;
  border: 3px solid rgba(181, 181, 181, 0.7);
}
.form-catalog__manufacturer-input:hover + label::before {
  border: 3px solid rgb(181, 181, 181);
}
.form-catalog__manufacturer-input:active + label::before {
  opacity: 0.4;
}
.form-catalog__manufacturer-input:checked + label::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 1px;
  width: 23px;
  height: 23px;
  opacity: 0.7;
  background: url(../img/icon/Shape-checked.svg) no-repeat;
}
.form-catalog__manufacturer-input:hover:checked + label::after {
  opacity: 1;
}
.form-catalog__manufacturer-input:active:checked + label::after {
  opacity: 0.4;
}
.form-catalog__manufacturer-title {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 1.76;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
}
.form-catalog__manufacturer-title:not(:last-child) {
  margin-bottom: 15px;
}
.form-catalog__manufacturer-label {
  position: relative;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.27;
  margin-left: 36px;
  word-break: break-all;
  text-transform: uppercase;
  color: var(--main-black);
}
.form-catalog__kind {
  display: flex;
  flex-direction: column;
  padding: 18px 0px 34px 0px;
}
.form-catalog__kind-item:not(:last-child) {
  margin-bottom: 16px;
}
.form-catalog__kind-input + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0%;
  border: 4px solid rgba(181, 181, 181, 0.7);
}
.form-catalog__kind-input:hover + label::before {
  border: 4px solid rgb(181, 181, 181);
}
.form-catalog__kind-input:active + label::before {
  border: 4px solid rgba(181, 181, 181, 0.4);
}
.form-catalog__kind-input:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: 8px;
  top: 35%;
  background: rgba(197, 197, 197, 0.7);
  border-radius: 50%;
}
.form-catalog__kind-input:hover:checked + label::after {
  background: rgb(197, 197, 197);
}
.form-catalog__kind-input:active:checked + label::after {
  background: rgba(197, 197, 197, 0.4);
}
.form-catalog__kind-input:not(:last-child) {
  margin-right: 10px;
}
.form-catalog__kind-title {
  position: relative;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #000000;
  padding-left: 36px;
}
.form-catalog__kind-title:not(:last-child) {
  margin-bottom: 21px;
}

.column-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column: 2/-1;
}
.column-right__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  padding: 5px 16px 5px 16px;
  background: var(--form-catalog);
}
.column-right__navigation:not(:last-child) {
  margin-bottom: 28px;
}
.column-right__navigation-content {
  justify-content: right;
  display: flex;
}
.column-right__title {
  font-family: "PT Sans";
  font-style: normal;
  max-width: 110px;
  word-break: break-all;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  margin-right: 35px;
}
.column-right__item {
  display: inline-flex;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
  padding-bottom: 2px;
}
.column-right__item:not(:last-child) {
  margin-right: 70px;
}
.column-right__item:nth-child(2) {
  border-bottom: 2px dotted red;
}
.column-right__item:last-child {
  margin-right: 46px;
}
.column-right__item:not(.column-right__item--active) {
  border-bottom: 2px dotted var(--header-button);
}
.column-right__item:not(.column-right__item--active):hover {
  transition: all 0.3s ease 0s;
  opacity: 1;
  border-bottom: 1px solid var(--header-button);
}
.column-right__item--active {
  color: #ee3643;
  opacity: 1;
}
.column-right__list-button {
  display: flex;
  align-items: flex-start;
}
.column-right__button-item {
  display: inline-block;
}
.column-right__button-item:nth-child(2) {
  transform: rotate(180deg);
}
.column-right__button-item:not(:last-child) {
  margin-right: 21px;
}
.column-right__button-link:not(.column-right__button-link--active):hover path {
  transition: all 0.3s ease 0s;
  fill: black;
}
.column-right__button-link--active path {
  fill: var(--header-button);
}
.column-right__list-submit {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.column-right__item-submit {
  display: inline-flex;
  background: #ffffff;
  border: 1px solid rgba(197, 197, 197, 0.5);
  border-radius: 2px;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 38px;
  min-height: 38px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
}
.column-right__item-submit:last-child {
  padding: 10px 31px;
}
.column-right__item-submit:not(.column-right__item-submit--active):hover {
  border: 1px solid rgb(197, 197, 197);
}
.column-right__item-submit:not(.column-right__item-submit--active):active {
  border: 1px solid rgb(238, 54, 67);
}
.column-right__item-submit a {
  width: 100%;
}
.column-right__item-submit--active {
  background-color: var(--header-button);
  color: var(--main-color);
  border-radius: 3px;
}

/*---------------------------------------*/
/*---------------------------------------*/
.description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 64px 0px 68px 0px;
  background: var(--fon-header);
}
.description__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  line-height: 1;
}
.description__title:not(:last-child) {
  margin-bottom: 25px;
}
.description__text {
  grid-template-rows: 2/3;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

/*---------------------------------------*/